@tailwind base;
@tailwind components;
@tailwind utilities;

form.error input {
    border: 2px solid #f96464;
}

form.error .error-icon {
    display: block;
}

form.error small {
    display: block;
}

.right {
    background-image: url('../images/hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

form.error button {
    box-shadow: none;
}

.left {
    background-image: url('../images/bg-pattern-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .left {
        background-image: #fff9f9;
    }
}